Lecture 2
Pandas are useful when working with tabular data. Cleaning, restructuring (long to wide, merging), manipulating, quuering, and ploting the data will also be done using pandas
In pandas data table is called a DataFrame

In [ ]:
!pip install pandas
!pip install numpy

There are two types of data structures in pandas; Series and DataFrame. Series are different from list and dictionary. Each item or element of a series has an index and can be retrieved. The index can be thought of as a key in a dictionary. The actual data column will have a label that can be retrieved using .name attribute,

In [23]:
import pandas as pd
import numpy as np

In [18]:
# Make a series
names=['Alice','Jack','Bob','None']
pd.Series(names)

0    Alice
1     Jack
2      Bob
3     None
dtype: object

In [21]:
#let's make a series of whole numbers
s=pd.Series([10,0,9])
s
s=pd.Series([10,0,9,None])
s

0    10.0
1     0.0
2     9.0
3     NaN
dtype: float64

In [25]:
#None and NAN are not the same
np.nan==None

False

In [33]:
#An equality test can not be done on nan
a=np.nan
a
a==a
#a special function is used
np.isnan(a)

True

In [44]:
#Series from dictionary
student_scores={'Alice':10,'Bob':20,'Carl':11}
s=pd.Series(student_scores)
s.index
#notice strings can be used as index
#Tuples
full_name=[('Alice','Brown'),('Bob','Marlow')]
pd.Series(full_name)

0    (Alice, Brown)
1     (Bob, Marlow)
dtype: object

In [53]:
#automatic index
pd.Series(['Alice','Bob','Carl'])
#self assigned index 
pd.Series(['Alice','Bob','Carl'],index=[435,436,437])
#pd.Series([10,20,11],index=['Alice','Bob','Carl'])

435    Alice
436      Bob
437     Carl
dtype: object

In [50]:
subjects={'Alice':'Math','Bob':'English','Carl':'Physics'}
pd.Series(subjects,index=['Alice','Bob','Edward'])

Alice        Math
Bob       English
Edward        NaN
dtype: object